
.container{
    display: grid;
    height: 100vh;
    grid-template:40px auto 40px / repeat(auto-fit, 100px);
    grid-gap:3px;
    grid-template-areas: 
    "m h h h h h h h h h h h"
    "m c c c c c c c c c c c"
    "f f f f f f f f f f f f";
}

.header{
    background-color: brown;
    grid-area: h;
}
.menu{
    background-color: cadetblue;
    grid-area: m;
}

.content{
    background-color: chartreuse;
    grid-area: c;
}

.footer{
    background-color: cornflowerblue;
    grid-area: f;
}

